<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <title>安排上了！台山市国家机关“谁执法谁普法”履职报告评议活动网上投票开启啦！</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <link href="./css/app.min.css" rel="stylesheet">
    <style>
        .qianyan { background-image: url(./images/icon/gezi.png); }
            .qianyan:after { background-image: url(./images/icon/jianzhu.png); }
            .item-image { background-color: #fff; }
            .fr { float: right; }
            .desc-1 {
                line-height: 20px;
                font-size: 13px;
                margin-bottom: 4px;
                font-weight: bold;
                /*min-height: 40px;*/
            }
            /*@media (min-width: 375px) {
                .desc-1 { min-height: 0; }
            }*/
            .desc-2 {
                line-height: 18px;
                font-size: 12px;
                color: #666;
                margin-left: -4px;
            }

            .item-desc { padding: 4px; }
            .item-image {
                min-height: 40vw;
                overflow: hidden;
                border: 4px solid #fff;
            }

            .data-wrap,
            .item-wrapper { border: 1px solid #e3e3e3; }
            .vote-item { width: 100%; }
            .desc-2:after {
                display: block;
                content: '';
                clear: both;
            }
            .data-item {
                float: left;
                width: 33.33%;
                display: block;
                padding-left: 4px;
            }
            .data-wrap {
                padding: 4px 8px;
                background-color: #fff;
                font-size: 12px;
            }

            /*.qianyan-content p {
                font-size: 4vw!important;
            }*/

            .qianyan:before { display: none; }
            .qianyan-content {
                /*line-height: 20px;*/
                text-align: justify;
            }

            .qianyan {
                background-position: top right;
                background-repeat: no-repeat;
                background-size: 24vw;
            }
            a.item-wrapper {
                display: block;
                text-decoration: none;
                color: #000;
            }
        </style>
    <script type="text/javascript" src="//res.wx.qq.com/open/js/jweixin-1.0.0.js?v=20141202"></script>
    <script type="text/javascript">

        var WXJSSDK = WXJSSDK || {}, WXAPI = WXAPI || {};
        WXJSSDK.load = function (e) {
            e.config && wx.config(e.config), wx.ready(function () {
                e.ready && e.ready();
            });
        }, WXAPI.shares = function (e) {
            wx.showOptionMenu(), wx.onMenuShareTimeline({
                title: e.title,
                link: e.shareCircle ? e.shareCircle : e.link,
                imgUrl: e.imgUrl,
                success: function () {
                    "function" === typeof e.shareTimelineCallback && e.shareTimelineCallback();
                },
                cancel: function () { }
            }), wx.onMenuShareAppMessage({
                title: e.title,
                desc: e.desc,
                link: e.shareFriend ? e.shareFriend : e.link,
                imgUrl: e.imgUrl,
                type: e.type ? e.type : "link",
                dataUrl: e.dataUrl ? e.dataUrl : "",
                success: function () {
                    "function" === typeof e.shareAppMessageCallback && e.shareAppMessageCallback();
                },
                cancel: function () { }
            }), wx.onMenuShareQQ({
                title: e.title,
                desc: e.desc,
                link: e.shareQQ ? e.shareQQ : e.link,
                imgUrl: e.imgUrl,
                success: function () { },
                cancel: function () { }
            }), wx.onMenuShareWeibo({
                title: e.title,
                desc: e.desc,
                link: e.shareWeibo ? e.shareWeibo : e.link,
                imgUrl: e.imgUrl,
                success: function () { },
                cancel: function () { }
            });
        }, window.WXAPI = WXAPI;
        var wxShareData = {
            title: "江门高新区（江海区）2018国家机关“谁执法谁普法”履职报告评议活动邀请您共同参与",
            desc: "投票正式开始！江门高新区（江海区）2018国家机关“谁执法谁普法”履职报告评议等你来投票",
            imgUrl: "http://wx.jmyuanren.com/Addons/TxPyhd/View/default/static/img/share.jpg",
            shareFriend: "//wx.jmyuanren.com/addon/TxPyhd/Front/index/token/gh_68921624a61d.html",
            shareCircle: "//wx.jmyuanren.com/addon/TxPyhd/Front/index/token/gh_68921624a61d.html",
        };
        WXJSSDK.load({
            config: {
                debug: false,
                appId: "wx0f0e3ccca3a6ce5f",
                timestamp: "1541500299",
                nonceStr: "Wm3WZYTPz0wzccnW",
                signature: "d84993a91752d208bb3e1b41e417d9073229fbe9",
                jsApiList: ["onMenuShareAppMessage", "onMenuShareTimeline",]
            },
            ready: function () {
                WXAPI.shares(wxShareData);
            }
        });
    </script>

</head>

<body>
    <div class="app">
        <div class="page">
            <div class="banner">
                <img src="./images/banner.jpg">
            </div>
            <div class="qianyan">
                <!--div class="qianyan-title">
                    <img src="//res.jmyuanren.com/wx/Addons/TxPyhd/static/img/qianyan.png" style=" visibility: hidden ">
                </div-->
                <div class="qianyan-content">
                    <p style="line-height:12px"><br /></p>
                    <p style="text-indent:2em;"><span style="font-weight: normal; font-size: 16px;color:rgb(89, 89, 89);">期待已久的台山市2018国家机关“谁执法谁普法”履职报告评议活动的投票环节终于开始了！
                        普法工作做得好不好，
                            要看老百姓满不满意了。朋友们，普法工作有赖大家的监督、支持和配合，您珍贵的一票是对评议单位最大的鼓励和认可，请大家踊跃参与，为评议单位助力加油！
                        </span></p>
                    <section class="" data-tools="135编辑器" data-id="92360" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                        <section style="width: 100%;margin-right: auto;margin-left: auto;text-align: center;"
                            data-width="100%">
                            <section style="width: auto;display: inline-block;padding: 25px 1.5em;background-image: url(./images/icon/title.png);background-size: 100%;background-repeat: no-repeat;background-position: center center;margin-right: auto;margin-left: auto;overflow: hidden;box-sizing: border-box;">
                                <section class="" data-brushtype="text" style="font-size: 18px;letter-spacing: 2px;font-weight: bold;color: rgb(255, 255, 255);"><span
                                        style="font-size: 20px;color: rgb(244, 235, 139);">评审说明</span></section>
                            </section>
                        </section>
                    </section>
                    <section class="" data-tools="135编辑器" data-id="93805" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;">
                        <section>
                            <section style="margin-bottom: -1em;">
                                <section style="width: 100%;" data-width="100%">
                                    <section style="display: inline-block;box-shadow: #4d7ddf 5px 5px 0px;">
                                        <section data-bgless="spin" data-bglessp="180" style="color:#fff;background-color: #719ffd;">
                                            <section class="" data-brushtype="text" style="font-size: 17px;font-weight: bold;text-align: center;letter-spacing: 1.5px;padding: 0.2em 1em;box-sizing: border-box;">评议对象</section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section data-bgless="spin" data-bglessp="220" data-bgopacity="50%" style="width: 100%;background-color: #a5e2fb;"
                                data-width="100%">
                                <section style="padding: 4px;box-sizing: border-box;">
                                    <section data-bgless="spin" data-bglessp="280" data-bgopacity="50%" style="background-color:#d0f0fd;color:#355daf;">
                                        <section class="" style="padding: 2em 1em 1em;font-size: 14px;letter-spacing: 1.5px;text-align: justify;box-sizing: border-box;">
                                            <p style="text-align: left;"><span style="font-size: 16px;color: rgb(89, 89, 89);">市环保局、市食监局、市检察院、
                                                    市法院、市供电局</span></p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="" data-tools="135编辑器" data-id="93805" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;margin-top:20px">
                        <section>
                            <section style="margin-bottom: -1em;">
                                <section style="width: 100%;" data-width="100%">
                                    <section style="display: inline-block;box-shadow: #4d7ddf 5px 5px 0px;">
                                        <section data-bgless="spin" data-bglessp="180" style="color:#fff;background-color: #719ffd;">
                                            <section class="" data-brushtype="text" style="font-size: 17px;font-weight: bold;text-align: center;letter-spacing: 1.5px;padding: 0.2em 1em;box-sizing: border-box;">评议内容</section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section data-bgless="spin" data-bglessp="220" data-bgopacity="50%" style="width: 100%;background-color: #a5e2fb;"
                                data-width="100%">
                                <section style="padding: 4px;box-sizing: border-box;">
                                    <section data-bgless="spin" data-bglessp="280" data-bgopacity="50%" style="background-color:#d0f0fd;color:#355daf;">
                                        <section class="" style="padding: 2em 1em 1em;font-size: 14px;letter-spacing: 1.5px;text-align: justify;box-sizing: border-box;">
                                            <p style="text-align: left;"><span style="font-size: 16px;color: rgb(89, 89, 89);">评议内容主要包括该单位在执法、司法的过程中开展面对面普法宣传，将相关的法律规定和依据告知当事人，注重以案释法、以法析理，让当事人知晓违法行为后果，清楚维权救济途径，让执法、司法过程成为群众尊法、学法、守法、用法的过程；在窗口单位和窗口岗位增加法治宣传教育功能，运用公众服务窗口开展法治宣传教育等。
                                                </span></p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>
                    <section class="" data-tools="135编辑器" data-id="93805" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;margin-top:20px">
                        <section>
                            <section style="margin-bottom: -1em;">
                                <section style="width: 100%;" data-width="100%">
                                    <section style="display: inline-block;box-shadow: #4d7ddf 5px 5px 0px;">
                                        <section data-bgless="spin" data-bglessp="180" style="color:#fff;background-color: #719ffd;">
                                            <section class="" data-brushtype="text" style="font-size: 17px;font-weight: bold;text-align: center;letter-spacing: 1.5px;padding: 0.2em 1em;box-sizing: border-box;">评议方式
                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section data-bgless="spin" data-bglessp="220" data-bgopacity="50%" style="width: 100%;background-color: #a5e2fb;"
                                data-width="100%">
                                <section style="padding: 4px;box-sizing: border-box;">
                                    <section data-bgless="spin" data-bglessp="280" data-bgopacity="50%" style="background-color:#d0f0fd;color:#355daf;">
                                        <section class="" style="padding: 2em 1em 1em;font-size: 14px;letter-spacing: 1.5px;text-align: justify;box-sizing: border-box;">
                                            <p style="text-align: left;">
                                                <span style="font-size: 16px;color: rgb(89, 89, 89);">
                                                <b>一、实地考察：</b>评议团提前对5家被评议单位开展实地考察。
                                                </span>
                                            </p>
                                            <p style="text-align: left;">
                                                <span style="font-size: 16px;color: rgb(89, 89, 89);">
                                                <b>二、社会评议：</b>通过在“台山司法”微信公众号刊登被评议单位的普法履职情况，开展网络投票。投票时间为11月11日至11月17日。
                                                </span>
                                            </p>
                                            <p style="text-align: left;">
                                                <span style="font-size: 16px;color: rgb(89, 89, 89);">
                                                <b>三、现场评议：</b>12月3日召开现场评议会，评议团听取各单位履职报告后，结合实地考察情况，逐一点评打分。
                                                </span>
                                            </p>
                                            <p style="text-align: left;">
                                                <span style="font-size: 16px;color: #f00;">
                                                    最终得分为：评委评分占70%+网络投票占30%
                                                </span>
                                            </p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>

                    <section class="" data-tools="135编辑器" data-id="93805" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;margin-top:20px">
                        <section>
                            <section style="margin-bottom: -1em;">
                                <section style="width: 100%;" data-width="100%">
                                    <section style="display: inline-block;box-shadow: #4d7ddf 5px 5px 0px;">
                                        <section data-bgless="spin" data-bglessp="180" style="color:#fff;background-color: #719ffd;">
                                            <section class="" data-brushtype="text" style="font-size: 17px;font-weight: bold;text-align: center;letter-spacing: 1.5px;padding: 0.2em 1em;box-sizing: border-box;">投票方式

                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section data-bgless="spin" data-bglessp="220" data-bgopacity="50%" style="width: 100%;background-color: #a5e2fb;"
                                data-width="100%">
                                <section style="padding: 4px;box-sizing: border-box;">
                                    <section data-bgless="spin" data-bglessp="280" data-bgopacity="50%" style="background-color:#d0f0fd;color:#355daf;">
                                        <section class="" style="padding: 2em 1em 1em;font-size: 14px;letter-spacing: 1.5px;text-align: justify;box-sizing: border-box;">
                                            <p style="text-align: left;"><span style="font-size: 16px;color: rgb(89, 89, 89);">关注“台山司法”微信公众号，点击()

                                                </span></p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>

                    <section class="" data-tools="135编辑器" data-id="93805" style="border-width: 0px;border-style: none;border-color: initial;box-sizing: border-box;margin-top:20px">
                        <section>
                            <section style="margin-bottom: -1em;">
                                <section style="width: 100%;" data-width="100%">
                                    <section style="display: inline-block;box-shadow: #4d7ddf 5px 5px 0px;">
                                        <section data-bgless="spin" data-bglessp="180" style="color:#fff;background-color: #719ffd;">
                                            <section class="" data-brushtype="text" style="font-size: 17px;font-weight: bold;text-align: center;letter-spacing: 1.5px;padding: 0.2em 1em;box-sizing: border-box;">投票时间

                                            </section>
                                        </section>
                                    </section>
                                </section>
                            </section>
                            <section data-bgless="spin" data-bglessp="220" data-bgopacity="50%" style="width: 100%;background-color: #a5e2fb;"
                                data-width="100%">
                                <section style="padding: 4px;box-sizing: border-box;">
                                    <section data-bgless="spin" data-bglessp="280" data-bgopacity="50%" style="background-color:#d0f0fd;color:#355daf;">
                                        <section class="" style="padding: 2em 1em 1em;font-size: 14px;letter-spacing: 1.5px;text-align: justify;box-sizing: border-box;">
                                            <p style="text-align: left;"><span style="font-size: 16px;color: rgb(89, 89, 89);">7天（11月11日-11月17日暂定）

                                                </span></p>
                                        </section>
                                    </section>
                                </section>
                            </section>
                        </section>
                    </section>

                    <p style="text-align:justify;margin-top:20px"><span style="font-weight: normal; font-size: 16px;color:rgb(89, 89, 89);">点击评议单位图片进入他们的普法工作简介页面<span
                                style="font-weight: normal; font-size: 16px; color: rgb(255, 0, 0);"><strong>参与投票</strong></span>。</span></p>
                </div>
            </div>
            <div class="vote-items">
                {{each govList as item i}}
                <div class="vote-item" data-id="{{item.id}}">
                    <a href="./{{item.name_en}}" class="item-wrapper">
                        <div class="item-image"><img src="./images/{{item.name_en}}/{{item.name_en}}1.jpg"></div>
                        <div class="item-desc">
                            <p class="desc-1">{{item.name}}</p>
                
                            <div class="desc-2">
                                <div class="data-item">
                                    <div class="data-wrap">
                                        <span>很好:</span>
                                        <span class="fr">{{item.aLevel}}票</span></div>
                                </div>
                                <div class="data-item">
                                    <div class="data-wrap">
                                        <span>良好:</span>
                                        <span class="fr">{{item.bLevel}}票</span></div>
                                </div>
                                <div class="data-item">
                                    <div class="data-wrap">
                                        <span>一般:</span>
                                        <span class="fr">{{item.cLevel}}票</span></div>
                                </div>
                            </div>
                
                        </div>
                    </a>
                </div>
                {{/each}}
                   
            </div>
        </div>

    </div>
    <script src="./js/zepto.min.js"></script>
    <script>
    

        $(function () {

        });
    </script>
</body>

</html>